agm-map {
  height: 400px;
}

#googft-mapCanvas {
  height: 300px;
  margin: 0;
  padding: 0;
  width: 500px;
}

h1{
  padding-top: 75px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
h4{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
