<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html>
  <head>
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebaseß.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3&amp;libraries=visualization"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
    <script type="text/javascript" src="node_modules/auth0-js/build/auth0.js"></script>
  </head>
<body>
  <header>
    <app-nav></app-nav>
  </header>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzAW9YMqqCV-x7U7Oy-McPz5BtFcU5fsg"></script>-->
<!--<script  src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=onGoogleReady"></script>-->
<div style="text-align:center">
  <h1>
    Welcome to the {{ title }}!
  </h1>
  <h4>
    As presented by HoodieDigital!
  </h4>
  <!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
</div>
<div class="container">
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
  </div>
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of navLinks"
       position= 0>
       <!--[routerLink]="link.path"-->
       <!--routerLinkActive #rla="routerLinkActive"-->
       <!--[active]="rla.isActive">-->
      {{link.label}}
    </a>
  </nav>

  <!--<agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="false" [zoom]="zoom">-->
  <!--<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
  <!--</agm-map>-->
  <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker
      *ngFor="let m of markers;"
      [latitude]="m.markerLat"
      [longitude]="m.markerLng"
      [label] = "m.label"
      [draggable]="m.draggable"
    >
    </agm-marker>
    <!--<agm-marker [latitude]="beanLat" [longitude]="beanLng"></agm-marker>-->

  </agm-map>
  <span id="userName"></span>
</div>

<mat-card
  *ngFor="let m of markers;"
>
  <mat-card-title> <span *ngIf="m.listSpot == 0"> {{"Your center is: "}} </span> {{m.label}} <span *ngIf="m.listSpot > 0"> {{"(" + m.listSpot + ")"}} </span> </mat-card-title>
  <mat-card-subtitle *ngIf="m.listSpot > 0">
  {{"Address: " + m.placeObj.formatted_address + '\n'}}
  </mat-card-subtitle>
  <mat-card-content *ngIf="m.listSpot > 0"> {{
    "Phone number: " + m.placeObj.formatted_phone_number
  }}</mat-card-content>
  <!--<mat-card-subtitle> {{m.listSpot}} </mat-card-subtitle>-->
</mat-card>

</body>
<script>
  var firebase = require('firebase');
  var firebaseui = require('firebaseui');
  var config = {
    apiKey: "AIzaSyBZo_ZgQnfSsBfgMNbYcJxBqpXyVRGqUZ0",
    authDomain: "hoodiedigital-530c8.firebaseapp.com",
    databaseURL: "https://hoodiedigital-530c8.firebaseio.com",
    projectId: "hoodiedigital-530c8",
    storageBucket: "hoodiedigital-530c8.appspot.com",
    messagingSenderId: "231249521118"
  };
  ui.start('#firebaseui-auth-container', {
    signInOptions: [
      firebase.auth.EmailAuthProvider.PROVIDER_ID
    ],
    // Other config options...
  });
  firebase.initializeApp(config);

</script>
</html>

